{% extends 'admin_product/base_admin.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1> Editer le produit </h1>
        {{ include ('/admin_product/_product_form.html.twig',{form: form, button: 'Editer'}) }}
    </div>
{% endblock %}

