{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
    
    <div class="body-hafco">
        <div class="banner">
            <div class="content container">
                <div class="text-width mt-4">
                    <h1> Haitian American <br/> fiberglass <br/> company s.a. <br/><br/><span id="ctlg"> HAFCO </span> </h1>
                    {# <li class="meubles-btn"> 
                        <a href="#">Voir nos meubles</a>
                    </li> #}
                </div>
            </div>
        </div>

        <div class="section-content">
            <div class="container">

                <div class="starred-link">
                    <span id="historicité"> Historicité</span>
                </div>

                <div class="block-text">
                    <p>
                        <b> La HAFCO </b> est la première manufacture de meubles en fibre de verre (fiberglass) fondée 
                        en 1971 pour répondre à un besoin spécifique du marché. En effet, avec l'essor 
                        remarquable du secteur tourisme qu'à connu Haïti à l'époque, il fallait bien meubler les 
                        hotels et les restaurants qui se multipliaient à travers le territoire, El Rancho, Villa Créole, 
                        Olofson et autres. Tous flamboyants et regorgeant d'activités ont placé des commandes 
                        importantes. Cette fabrication locale, pour satisfaire à sa clientèle qui ne faisait que croitre 
                        avait décidé d'ouvrir des points de vente, à Delmas, au Bicantenaire et à Martissant pour 
                        améliorer la qualité de sa production, la HAFCO alors s'était associée à des experts 
                        américains, d'ou le nom (Haitian American Fiberglass Company S.A.)
                    </p>
                </div>

                <div class="about-img-1">
                    <img src="http://placehold.it/300x260" height="200px" width="100%"alt=""/>
                </div>
                
                <div class="block-text" id="aboutUs">
                    <p>
                        Depuis, la HAFCO devenue HAFCO S.A. en 1981, a tenu sa part de marché en multipliant 
                        et diversifiant ses produits. Elle se lance dans la manufacture de meubles en bois, en fer 
                        forgé, desservant les écoles, les universités, les bureaux, la maison, les cliniques, les 
                        églises, les institutions gouvernementales, les ONG. De nombreux acquéreurs tels que: 
                        World Vision, USAID, l'Ambassade Américaine, la Digicel, les Soeurs Salésiennes, 
                        l'institution de Sainte Rose de Lima, le FAES, etc. ont utilisé avec régularité ses services. 
                        Afin de donner plus d'élégance et de confort à sa ligne de création, la HAFCO a 
                        développé une section de design en partenariat avec une firme d'architecture BAP dans 
                        la conception des placards, des cuisines et l'aménagement des intérieures et des bureaux.
                        
                        <br/><br/>

                        Toujours animée par son souci de grandir et de se faire connaître par tous, la HAFCO a participé
                        à plusieurs foires d'expositions de meubles. Celle organisée par le Ministère du Commerce pour commémorer
                        la fête du travail le 1er mai 1983 et plusieurs autres préparées par l'office national d'artisanat.
                     
                        <br/><br/>

                        Pour développer la croissance financière de l'entreprise, la SOGEBANK, la BUH, la SOGEFAC, SOFHIDES, lui ont
                        octroyé des lignes de crédit substantielles et des garanties bancaires.

                        
                        <br/><br/>

                        Il faut ajouter aussi que la HAFCO a un personnel qualifié qui a reçu une formation complémentaire in situ
                        assez souvent accompagnée de spécialistes internationaux. En haute saison de production, la HAFCO compte jusqu'à
                        cent vingt employés et contractuels dont des responsables de vente, un ingénieur mécanique, un architecte,
                        un designer, des techniciens en informatiques etc. C'est grâce à ce staff que nous ayons pu décrocher notre tire de 
                        "spécialiste de meuuble scolaires". Aujourd'hui, la HAFCO a des points de vente à Martissant.
                    </p>
                </div>

                <div class="about-img-1">
                    <img src="http://placehold.it/300x260" height="200px" width="100%"alt=""/>
                </div>

                <div class="block-text">
                    <p>
                        50 ans de 1983 à nos jours, la HAFCO S.A. dirigée par Nancy Policard qui par son dynamisme, sa créativité,
                        sa discipline, son expérience acquise aux Etats-Unis, son sens de leadership et sa capacité de communication 
                        se distingue parmi les firmes sérieuses, fiables et dévouées à sa communauté.

                        <br/><br/>

                        Madame POLICARD s'était donnée comme mission de servir son pays de développer des consommateurs fidèles et de participer
                        à l'amélioration des conditions sociales et culturelles de sa nation. C'est ainsi que la HAFCO peut se targuer d'avoir
                        aidé et formé bien des cadres et des jeunes dans le domaine de l'ébénisterie de la ferronnerie de la fibre de verre,
                        de la production et du management.
                    </p>
                </div>

            </div>
        </div>
    </div>  
{% endblock %}
