{% extends 'admin_product/base_admin.html.twig' %}
    
{% block body %}
    <body>

        <div class="container">
            <div class="section">
                <ul>
                    <li>
                        <a href="{{path ('admin-subcategory')}}" class="btn btn-primary fas fa-long-arrow-alt-left"></a>
                    </li>
                    <li>
                        <h2> Ajouter une nouvelle sous-catégorie </h2>
                    </li>
                </ul>
            </div>
            
                <hr>
            {{ include ('/admin_subcategory/_subcategory_form.html.twig', {form: form, button: 'Ajouter'}) }}
        </div>
    </body>
{% endblock %}

